.card {
    width: 510px;
    height: 105%;
    top: 140px;
    left: 55%;
    border-radius: 8px;
    padding: 32px 24px;
    gap: 28px;
    background-color: #FFFFFF;
    position: absolute;
  }
  .circle-3 {
    position: absolute;
    top: 30px;
    width: 38px;
    height: 38px;
    left: 25%;
    border-radius: 1000px;
    background-color: #0096FF;
    position: absolute;
  }
  .circle-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -1.5%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    transform: translate(10.13px, 7.09px);
    width: 17.73px;
    height: 22.8px;
    top: 7%;
  }
  .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -1%;
    text-align: center;
    color: #3C4852;
    position: absolute;
    left: -29px;
    top: 42px;
    width: 94px;
    height: 19px;
  }
  
  .circle-4 {
    position: absolute;
    top: 30px;
    width: 38px;
    height: 38px;
    left: 71%;
    border-radius: 1000px;
    background-color: #0096FF;
    position: absolute;
  }
  .circle-text-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -1.5%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    transform: translate(10.13px, 7.09px);
    width: 17.73px;
    height: 22.8px;
    top: 7%;
    left: 1px;
  }
  .footer-text-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: -1%;
    text-align: center;
    color: #3C4852;
    position: absolute;
    left: -29px;
    top: 42px;
    width: 94px;
    height: 19px;
  }
  
  .subscription-plan {
    width: 701px;
    height: 30px;
    left: -80px;
    top: 95px;
    position: absolute;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 30.07px;
    text-align: center;
    color: #3C4852;
  }

  /* for 1st box */
  .box {
    position: absolute;
    top: 150px;
    width: 501px;
    height: 65px;
    border: 2px solid #BEBEBE;
    border-radius: 4px;
    background-color: #E7E7E7;
  }
  .circle-n {
    position: absolute;
    top: 15.67px;
    left: 12.67px;
    width: 26.67px;
    height: 26.67px;
    border: 2px solid #BEBEBE;
    border-radius: 50%;
    background-color: transparent;
  }
  .inner-circle {
    position: absolute;
    top: 3.67px;
    left: 3.67px;
    width: 16px;
    height: 16px;
    border: 2px solid #BEBEBE;
    border-radius: 50%;
    background-color: #BEBEBE;
  }
  .inner-box {
    position: absolute;
    top: 0;
    left: 62px;
    width: 121px;
    height: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #F77171;
  }
  .text {
    position: absolute;
    top: 1px;
    left: 13px;
    width: 93px;
    height: 12px;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: condensed medium;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
  }
  .footer-text-2 {
    position: absolute;
    top: 22px;
    left: 0;
    width: 172px;
    height: 19px;
    color: #BEBEBE;
    font-family: Roboto, sans-serif;
    font-style: semibold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
  }
  .total-text {
    position: absolute;
    top: 20px;
    left: 85%;
    width: 27px;
    height: 16px;
    color: #BEBEBE;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
    vertical-align: middle;
  }
  .price-text {
    position: absolute;
    top: 18px;
    left: 93%;
    width: 27px;
    height: 19px;
    color: #BEBEBE;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    vertical-align: middle;
  }
  .price-previous {
    position: absolute;
    top: 38px;
    left: 88%;
    width: 13px;
    height: 14px;
    color: #BEBEBE;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
    vertical-align: middle;
  }
  .price-unit {
    position: absolute;
    top: 39px;
    left: 93%;
    width: 19px;
    height: 12px;
    color: #BEBEBE;
    font-family: Roboto, sans-serif;
    font-style: medium;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    vertical-align: middle;
  
  }
  
  /* for 2nd box */
  
  .box-1 {
    position: absolute;
    top: 230px;
    width: 501px;
    height: 65px;
    border: 2px solid #47BA68;
    border-radius: 4px;
    background-color:#D7EDDD;
  }
  .circle-n-1 {
    position: absolute;
    top: 15.67px;
    left: 12.67px;
    width: 26.67px;
    height: 26.67px;
    background-color: #47BA68;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
.checkmark {
  position: absolute;
  top: 2.67px;
  left: 4.67px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
  
  
.inner-box-1 {
  position: absolute;
  top: 0;
  left: 62px;
  width: 121px;
  height: 16px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #47BA68;
}
  
.footer-text-5 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 172px;
  height: 19px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-style: semibold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
  
}
.total-text-1 {
  position: absolute;
  top: 20px;
  left: 85%;
  width: 27px;
  height: 16px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;
 
}
.price-text-1 {
  position: absolute;
  top: 18px;
  left: 92%;
  width: 27px;
  height: 19px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  vertical-align: middle;
 
}
.price-previous-1 {
  position: absolute;
  top: 38px;
  left: 88%;
  width: 13px;
  height: 14px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;

}
.price-unit-1 {
  position: absolute;
  top: 39px;
  left: 93%;
  width: 19px;
  height: 12px;
  color: #BEBEBE;
  font-family: Roboto, sans-serif;
  font-style: medium;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;

}

/* box 3rd */
 
.box-2 {
  position: absolute;
  top: 37.5%;
  width: 501px;
  height: 65px;
  border: 2px solid #47BA68;
  border-radius: 4px;
  background-color:#D7EDDD;
}
.circle-n-2 {
  position: absolute;
  top: 15.67px;
  left: 12.67px;
  width: 26.67px;
  height: 26.67px;
  border: 2px solid #BEBEBE;
  border-radius: 4px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

 
.footer-text-3 {
  position: absolute;
  top: 22px;
  left: 13%;
  width: 172px;
  height: 19px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-style: semibold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;

}
.total-text-2 {
  position: absolute;
  top: 20px;
  left: 85%;
  width: 27px;
  height: 16px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;

}
.price-text-2 {
  position: absolute;
  top: 18px;
  left: 92%;
  width: 27px;
  height: 19px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  vertical-align: middle;

}
.price-previous-2 {
  position: absolute;
  top: 38px;
  left: 88%;
  width: 13px;
  height: 14px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;
 
}
.price-unit-2 {
  position: absolute;
  top: 39px;
  left: 93%;
  width: 19px;
  height: 12px;
  color: #BEBEBE;
  font-family: Roboto, sans-serif;
  font-style: medium;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
 
}

/* box 4th */

 
.box-3 {
  position: absolute;
  top: 47%;
  width: 501px;
  height: 65px;
  border: 2px solid #47BA68;
  border-radius: 4px;
  background-color:#D7EDDD;
}
.circle-n-3 {
  position: absolute;
  top: 15.67px;
  left: 12.67px;
  width: 26.67px;
  height: 26.67px;
  border: 2px solid #BEBEBE;
  border-radius: 4px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.footer-text-4 {
  position: absolute;
  top: 22px;
  left: 13%;
  width: 172px;
  height: 19px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-style: semibold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;

}
.total-text-3 {
  position: absolute;
  top: 20px;
  left: 85%;
  width: 27px;
  height: 16px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;

}
.price-text-3 {
  position: absolute;
  top: 18px;
  left: 92%;
  width: 27px;
  height: 19px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  vertical-align: middle;

}
.price-previous-3 {
  position: absolute;
  top: 38px;
  left: 88%;
  width: 13px;
  height: 14px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;

}
.price-unit-3 {
  position: absolute;
  top: 39px;
  left: 93%;
  width: 19px;
  height: 12px;
  color: #BEBEBE;
  font-family: Roboto, sans-serif;
  font-style: medium;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;

}

.cart-line {
  position: absolute;
  top:56%;
  border: none;
  border-top: 2px solid #BEBEBE;
  width: 90%;
  margin: 20px auto;
}


/* for fee submition */
.subscription-fee {
  position: absolute;
  top: 60%;
  left: 9%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  color: #3C4852;
  margin-top: 2.5px;
  width: 119px;
  height: 19px;
}
.price-1 {
  position: absolute;
  top: 60%;
  left: 10%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  margin-left: 392px;
  margin-top: 4px;
  width: 61px;
  height: 16px;
}

.box-4 {
  position: absolute;
  top: 65%;
  width: 501px;
  height: 65px;
  border: 2px solid #47BA68;
  border-radius: 4px;
  background-color:#D7EDDD;
}
.offer {
  position: absolute;
  top: 3%;
  left:3%;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  color: #DE4313;
  margin-left: 0px;
  margin-top: 2.5px;
  width: 129px;
  height: 19px;
}

.timer-watch {
  position: absolute;
  top:50%;
  left: 4%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #DE4313;

}


.hour-hand-1,
.minute-hand-1 {
  position: absolute;
  left: 5%;
  background-color: #DE4313;
}

.hour-hand-1 {
  width: 2.59px;
  height: 5.01px;
  top: .28px;
  left: 5.12px;
  transform: rotate(-10deg);

}

.minute-hand-1 {
  width: 2.59px;
  height: 9.01px;
  top: 2.28px;
  left: 2.12px;
  transform: rotate(60deg);

  
}
.offer-validity {
  position: absolute;
  top: 49%;
  left: 2%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  color: #DE4313;
  margin-left: 32px;
  margin-top: 3.5px;
  width: 192px;
  height: 17px;
}
.price-text-4 {
  position: absolute;
  top: 7px;
  left: 7%;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  color: #3C4852;
  margin-left: 381px;
  margin-top: 4px;
  width: 72px;
  height: 16px;
}
.total {
  position: absolute;
  left: 10%;
  top: 75%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}
.total-highlight {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  color: #3C4852;
}


  .price {
    position: absolute;
  top: 75%;
  left: 80%;
  width: 27px;
  height: 16px;
  color: #3C4852;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 14.4px;
  text-align: center;
  vertical-align: middle;
  }
  .cancel-button {
    position: absolute;
    top: 79%;
    width: 142.5px;
    height: 26px;
    left: 7%;
    border-radius: 4px;
    padding: 10px 42px;
    margin-top: 10px;
    background-color: transparent;
    color: #47BA68;
    text-align: center;
    display: flex;
    border: 3px solid #47BA68;
    align-items: center;
    justify-content: center;
  }
  
  .box-button {
    position: absolute;
    top: 79%;
    width: 142.5px;
    height: 26px;
    left: 50%;
    border-radius: 4px;
    padding: 10px 42px;
    margin-top: 10px;
    background-color: #47BA68;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.foto{
  position: absolute;
  top:90%;
  left:8%;
}


